<h1>Dashboard</h1>

<%= button_to "Personal Info", personal_info_path, method: :get, class: "btn btn-primary" %>

<br><br>

<%= button_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
