<div class="container pt-3 pb-2" style="max-width: 800px;">
  <h1 class="page-title mb-0">Edit Job Application</h1>
  <%= render 'form', job: @job %>
</div>

<div class="container text-center mt-3" style="max-width: 800px;">
  <%= link_to 'Show', @job %> |
  <%= link_to 'Back', (params[:from] == 'dashboard' || (request.referer || '').include?('/dashboard')) ? dashboard_path : jobs_path %>
</div>