<h1>Companies</h1>

<%= link_to 'New Company', new_company_path, class: 'btn btn-primary' %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= link_to company.name, company_path(company) %></td>
        <td><%= company.website %></td>
        <td>
          <%= link_to 'Show', company_path(company) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
