<p>Hello <%= @resource.full_name.presence || @resource.email %>,</p>

<p>We received a request to reset the password for your account. You can set a new password by clicking the link below:</p>

<p><%= link_to 'Reset my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you did not make this request, you can safely ignore this email. Your password will remain unchanged until you create a new one using the link above.</p>

<p>Thank you,<br>
  Job Tracker Support Team</p>